h1 {
    color: black;
    font-family: sans-serif;
    
}
ul {
    background-color: wheat;
    line-height: 30px;
}
.list-style {
    background-color: brown;
    color: blanchedalmond;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
}
body {
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}
#amarelo {
    background-color: yellow;
    color: black;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}