#title{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    width: 74%;

}
nav {
    text-align: center;
    width: 74%;
}
nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    
}


article{
    
    width: 74%;
    display: inline-block;
}
aside {
    
    width: 25%;
    display: inline-block;
}
#main-title {
    text-align: center;
    font-size: large;
}
p {
    
    width: 45%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    font-size: 20px;
}
#main-section {
    text-align: center;
}
#info {
    text-align: left;   
    width: 40%;
    display: inline-block;    
}

.funfact {
    
    display: inline-block;
    width: 49%;
    vertical-align: top;  
    
}

footer {
    position: fixed;
    bottom: 0;
    font-size: large;
}

img {
    width: 200px;
    float: right;
}