#title{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 74%;
}
nav {
    text-align: center;
    width: 74%;
}
nav ul a {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
}
section{   
    width: 74%;
    display: inline-block;
}
aside {
    
    width: 25%;
    display: inline-block;
}
#main-title {
    text-align: center;
    font-size: large;
}
p {
    
    width: 45%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    font-size: 20px;
}
#main-section {
    text-align: center;
}
#info {
    text-align: center;   
    width: 40%;
    display: inline-block;    
}
th, td {
    border: 1px solid black;
}


.funfact {
    display: inline-block;
    width: 49%;
    vertical-align: top;     
}
footer {
    position: fixed;
    bottom: 0;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 5px;
}
img {
    width: 200px;
    float: right;
}
aside {
    position: absolute;
    top: 150px;
}