.pokemon {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  width: 70%;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.images {
  max-width: 110px;
  width: max-content;
}

.images:hover {
  width: 150px;
}

.pokemon p {
  margin: 5px;
  margin-left:20px;
}

.pokelist {
  display: flex;
  flex-flow: column wrap;
  height: 700px;
  width: 35%;
}
