.App {
  text-align: center;
  width: max-content;
  padding: 0;
  margin-left: 40%;
}

.header {
  padding: 10px;
}

.header h1 {
  margin: 15px 0;
}

.key {
  list-style-type: none;
}

.item {
  text-align: left;
  padding: 15px 0;
}

.footer {
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 25%;
}