* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 50px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

#head {
  display: flex;
  background-color: rgb(61, 61, 61);
  justify-content: space-around;
  align-items: center;
  /* align-content: space-between; */
  font-size: 10px;
  
}

.head-text {
  color: aliceblue;
}

#sect1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 5px;
}

#sect2 {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 450px;
}

#foot {
  display: flex;
  justify-content: center;
  
}