/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 5px;
}

body {
 font-size: medium;
}

article, p {
  width: 90%;

} 

h1 {
  font-size: x-large;
}

/* h2 {

} */

img {
	max-width: 100%;
  /* width: 75%; */
}

/* main {

} */

section {
  display: flex;
  flex-wrap: wrap;
}

figure {
  display: flex;
	margin: 15px;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width: 600px) {
  body {
    background-color: wheat;
    font-size: large;
    margin: 0;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
  img {
    width: 50%;
  }
}

@media screen and (min-width: 1300px) {
  * {
    background-color: azure;
    font-size: larger;
    margin: 0;
    max-width: 100%;
  }

}