html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

@media screen and (max-width: 800px) {
  body {
    background-color: wheat;
    /* margin: 10px; */
    border: 3px groove gray;
    padding: 5px;
  }
  header p {
    font-size: x-large;
    font-weight: 800;
    margin-bottom: 5px;
  }
  header nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
  }
  header nav ul li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .aside-one ul {
    height: 38px;
    overflow: auto;
  }
  .aside-one h2 {
    align-self: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aside-two {
    order: 1;
  }
  footer {
    order: 2;
  }
  .main-content h1 {
    font-size: x-large;
  }
}

@media screen and (min-width: 801px) {
  body {
    background-color: rgb(196, 255, 206);
    border: 3px groove gray;
    padding: 5px;
    font-size: larger;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  header {
    width: 100%;
  }
  header p {
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
  }
  header nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
  }
  header nav ul li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: large;
  }
  .aside-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  .aside-one h2 {
    margin: 0;
  }
  .aside-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }
  .aside-two h2 {
    margin: 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }
  .main-content h1 {
    align-self: center;
    margin-bottom: 5px;
  }
  .main-content p {
    margin: 10px 10px;
  }
}